---
import { Image } from "astro:assets";

// quote block 
import PlayingPool from "../../assets/playing-pool.jpg"
---

<div class="quote-wrapper">
  <div class="quote grid one-one m-bottom-3">
    <Image src={PlayingPool} width={1600} alt=""></Image>
    <div class="quote-content">
        <p class="quote-text fs-5 ff-serif"><em>"When i first set foot on campus i knew that this was the place for me."</em></p>
        <p class="citation">
            <span class="caps">Jordan Bates</span><br />
            Class of '25
        </p>
    </div>
</div>  
</div>
