/*

Styles for articles
    1. articleHero
    2. articleCard
    3. articleFull

*/
@use "_mixins.scss" as *;

.articleHero {
  grid-column: full-width;
  @include mq(large) {
    grid-column: bleed;
  }
  margin: 0 auto;
  place-items: center;
  display: grid;
  position: relative;
  color: var(--white);
  .text,
  img {
    grid-row: 1;
    grid-column: 1;
  }

  .text {
    z-index: 3;
  }
  img {
    z-index: 1;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    @include mq(small) {
      aspect-ratio: auto;
    }
  }

  &:after {
    position: absolute;
    inset: 0;
    z-index: 2;
    content: "";
    background-image: url(/images/theme/crest-main-1.svg),
      linear-gradient(rgba(0, 0, 0, 0.001) 25%, rgba(0, 0, 0, 0.585));
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom;
    background-size: contain, cover;
  }
}
