/*
    _siteHeader.scss
    - skip nav
    - black bar cta
    - header -- logo and main nav

*/

/*

    Skip-to-nav

*/

.skipNav {
  background: var(--red-500);
  display: flex;
  height: 0.5rem;
  transition: height 0.2s eas e-in-out;
  position: relative;
  z-index: 10;
  &:focus-within {
    top: 0;
    height: calc-size(auto);
    height: auto;
    a {
      color: white;
    }
  }
  a {
    color: var(--white);
    margin: 0 1em;
    color: transparent;
    transition: color 0.2s ease-in;
  }
}

// main-header

.siteHeader {
  background: var(--black);
  color: var(--white);
  font-size: var(--step--1);
  position: sticky;
  top: 0;
  transition: transform 0.25s ease-out;
  z-index: 10;
  .logoActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 0;
    z-index: 10;
    background: var(--black);
  }
  &.hidden {
    transform: translateY(-200px);
  }
}

// Actions - the container for the visible top items

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
  > span {
    height: 1.8em;
    width: 3px;
    background: var(--gold-500);
  }
  // CTA
  .cta {
    display: inline-flex;
    gap: 1.5em;
    a {
      text-transform: uppercase;
      color: var(--white);
      font-family: var(--ff-sans-bold);
    }
  }
}

.hsc-logo {
  background-image: url("/images/theme/hsc-logo.png");
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  width: 233px;
  height: 96px;
  text-indent: -9999px;
}
