/*
    Utility classes
    1. sr-only
    2. centering
    3. background colors
    4. margins
*/
.inline-center {
  margin-inline: auto;
}
.block-center {
  margin-block: auto;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

// centered alinged text blocks

.centered-text *,
.align-center {
  text-align: center;
}

// main slices with background colors
.gray-bg {
  background: var(--gray-300);
}

// margin utility classes
.m-bottom-2 {
  margin-bottom: 2rem;
}
.m-bottom-3 {
  margin-bottom: 3rem;
}
.m-bottom-4 {
  margin-bottom: 4rem;
}
