/*

  Set colors 

*/

:root {
  interpolate-size: allow-keywords;

  //colors
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --red-500: hsl(352, 59%, 34%);
  --red-300: hsl(358, 69%, 50%);
  --red-100: hsl(352, 59%, 56%);

  --gray-900: hsl(180, 4%, 10%);
  --gray-800: hsl(180, 3%, 35%);
  --gray-500: hsl(195, 2%, 83%);
  --gray-300: hsl(0, 0%, 93%);
  --gray-100: hsl(180, 6%, 97%);

  --blue-800: rgb(0, 113, 158);
  --blue-500: rgb(0, 161, 224);
  --blue-300: hsl(194, 45%, 76%);
  --blue-100: hsl(194, 45%, 86%);

  --gold-500: hsl(52, 94%, 47%);

  --text-shadow: 0px 3px 0.75em var(--black);

  --border-radius-small: 8px;
  --border-radius-medium: 12px;
  --border-radius-large: 16px;
}
