/*
    Main grids
*/
@use "../_mixins.scss" as *;
.grid {
  display: grid;
  gap: 2em;
  &.one-one {
    @include mq(medium) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &.three-one {
    @include mq(medium) {
      grid-template-columns: 3fr 1fr;
    }
  }
  &.auto-300-a {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}
