/*
    Main grids
*/
@use "../_mixins.scss" as *;
.grid {
  display: grid;
  gap: 2em;
  &.one-one {
    @include mq(medium) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &.three-one {
    @include mq(medium) {
      grid-template-columns: 3fr 1fr;
    }
  }
}

/*

for those instances where you need to put a text block over an image

*/

.text-bottom-image {
  @include mq(header) {
    align-items: end;
  }

  grid-column: full-width;
  position: relative;

  img {
    grid-column: content;
    grid-row: 1;
    width: 100%;
    aspect-ratio: 5 / 4;
    object-fit: cover;
    z-index: 2;
  }
  .text-links {
    grid-column: content;
    grid-row: 1;
    align-items: center;
    margin-top: 10em;
    // @include mq(medium) {
    margin-bottom: 3rem;
    // }
    //
    color: var(--white);
    z-index: 3;
  }
  > ul {
    grid-column: 2;
    grid-row: 1;
  }
}

.text-centered-image {
  display: grid;
  color: var(--white);
  * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    align-content: center;
  }
  .text {
    text-align: center;
    z-index: 3;
  }
  h3 {
    align-self: center;
    color: var(--white);
  }
}
