/*

  1. primary-layout -- horizontal slices
  2. .narrow, .bleed, .full-width -- how wide the contained elements are
  3. special classes for the contained elements
    - color backgrounds
    - margins-bottoms

*/

.primary-layout {
  /* user settings */
  --max-width: 1920px;
  --padding-inline: 1em;
  --content-max-width: 80ch;
  --bleed-extra-distance: 80px;
  --content-column-min: calc(370px - 2em);
  --content-column-max: 1520px;
  --_content-column-size: 1440px;
  --_bleed-column-size: var(--bleed-extra-distance);

  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [bleed-start]
    minmax(0, var(--_bleed-column-size))
    [content-start]
    minmax(var(--content-column-min), var(--content-column-max))
    [content-end]
    minmax(0, var(--_bleed-column-size))
    [bleed-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];
}

:is(.primary-layout, .full-width) > * {
  grid-column: content;
}

:is(.primary-layout, .full-width) > .narrow {
  grid-column: narrow;
}

:is(.primary-layout, .full-width) > .bleed {
  grid-column: bleed;
}

:is(.primary-layout, .full-width) > .full-width {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full-width;
}

:where(.primary-layout, .full-width) > img {
  width: 100%;
  object-fit: cover;
}
