/*

  1. primary-layout -- horizontal slices
  2. .narrow, .bleed, .full-width -- how wide the contained elements are
  3. special classes for the contained elements
    - color backgrounds
    - margins-bottoms

*/

.primary-layout {
  /* user settings */
  /*
    full-width
    bleed
    content 
    narrow
  */
  --max-width: 1920px;
  --padding-inline: 1rem;

  --bleed-extra-distance: 80px;

  --content-max-width: 80ch;
  --narrow-size-reduction: 80px; // 1/2 of how much smaller the narrow should be
  --content-column-min: calc(370px - 2em);
  --content-column-max: 1520px;
  --_content-column-size: 1440px;
  --_bleed-column-size: var(--bleed-extra-distance);

  // for calculations
  --_narrow-column-size: calc(
    (var(--content-max-width) - var(--narrow-size-reduction)) / 2
  );
  --_content-column-size: var(--narrow-size-reduction);

  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [bleed-start]
    minmax(0, var(--_bleed-column-size))
    [content-start]
    minmax(0, var(--_content-column-size))
    [narrow-start]
    min(50% - var(--padding-inline), var(--_narrow-column-size))
    [center-line]
    min(50% - var(--padding-inline), var(--_narrow-column-size))
    [narrow-end]
    minmax(0, var(--_content-column-size))
    [content-end]
    minmax(0, var(--_bleed-column-size))
    [bleed-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];
}

:is(.primary-layout, .full-width) > * {
  grid-column: content;
}

:is(.primary-layout, .full-width) > .narrow {
  grid-column: narrow;
}

:is(.primary-layout, .full-width) > .bleed {
  grid-column: bleed;
}

:is(.primary-layout, .full-width) > .full-width {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full-width;
}
:is(.primary-layout, .content) > .content {
  display: grid;
  // grid-template-columns: inherit;
  grid-column: content;
}

:where(.primary-layout, .full-width) > img {
  width: 100%;
  grid-column: full-width;
  object-fit: cover;
}
