/*

    _person.scss
    All things people
    1. special styles for card
    2. Full person page layout and style

*/

/*
    card
*/
.person-card {
  .name-title {
    border-bottom: 3px solid var(--gray-500);
    margin-block-end: 1em;
    a {
      color: var(--red-500);
    }
  }
}

/*
full person page layout
*/

.person-layout {
  grid-column: full-width;
  // padding-top: 3rem;
}
.person-hero {
  padding: 2rem 0;
  .name-title {
    border-bottom: 3px solid var(--white);
    margin-block-end: 1em;
  }
  p {
    margin-bottom: 0.5em;
  }
}
