---
// ArticleCard

//import ui
import Heading from "../ui/Heading.astro";

const { headline, date, imageSrc } = Astro.props;
---

<article class="article-card">
  <img src={imageSrc} alt="" />
  <span class="pub-date">
    {date}
  </span>
  <Heading tagName="h2" size="base0"><a href="#">{headline}</a></Heading>
</article>
