/*
    _siteHeader.scss
    - skip nav
    - black bar cta
    - header -- logo and main nav

*/

/*

    Skip-to-nav

*/
@use "../_mixins.scss" as *;

.skipNav {
  background: var(--red-500);
  padding: 0.25rem 0;
  z-index: 10;
  font-size: 0;
  position: relative;
}
.skipLinks {
  transition: height 0.2s eas e-in-out;
  display: flex;
  a {
    color: var(--white);
    margin: 0 1em;
    color: var(--white);
    transition: color 0.2s ease-in;
  }
  &:focus-within {
    font-size: var(--step--2);
  }
}

// main-header

.siteHeader {
  background: var(--black);
  color: var(--white);
  font-size: var(--step--1);
  position: sticky;
  top: 0;
  transition: transform 0.25s ease-out, font-size 0.25s ease-out,
    height 0.25s ease-out;
  z-index: 10;
}
.logoActions {
  display: flex;
  // display: none;
  justify-content: space-between;
  align-items: center;

  margin: 1.25em 0;
  z-index: 10;
  container-name: logo-actions;
  container-type: inline-size;
  // transition: font-size 0.5s;
  grid-column: bleed;
  @include mq(large) {
    grid-column: content;
  }
}
.actions > :not(.menuTrigger) {
  display: none;
}

// Actions - the container for the visible top items

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;

  > span {
    height: 1.8em;
    width: 3px;
    background: var(--gold-500);
  }
  // CTA
  .cta {
    // display: inline-flex;
    gap: 1.5em;
    a {
      text-transform: uppercase;
      color: var(--white);
      font-family: var(--ff-sans-bold);
    }
  }
}

.hsc-logo {
  display: block;
  .logo--small {
    height: auto;
    @include mq(medium) {
      height: 0;
    }
  }
  .logo--large {
    height: 0;
    @include mq(medium) {
      height: auto;
      opacity: 1;
    }
  }
}

.siteHeader.scrolled {
  transition: font-size 0.25s ease-out;

  .logoActions {
    margin: 0.5em 0;
    font-size: var(--step--2);
  }
}

// container queries

@container logo-actions (width > 70ch) {
  .actions > :not(.menuTrigger) {
    display: inherit;
    transition: font-size 0.25s ease-out;
  }
}
