@use "../_mixins.scss" as *;
.site-footer {
  background: var(--black);
  color: var(--white);
}
footer {
  display: grid;
  gap: 2rem;
  text-align: center;
  margin-block: 1rem;
  font-size: var(--step--2);
  ul:not(.footer-cta) {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  a {
    color: var(--white);

    text-decoration: none;
  }
  img {
    width: 200px;
    margin-inline: auto;
  }
  .footer-address {
    > span {
      font-family: var(--ff-sans);
      text-transform: uppercase;
    }
  }
  .footer-resources {
    display: flex;
    @include mq(medium) {
      display: block;
    }
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }
  /*
  everything bigger than medium
  */
  @include mq(medium) {
    text-align: left;
    grid-template-columns: repeat(5, auto);
    margin-block: 3rem;
    img {
      grid-row: 1;
      grid-column: 1;
      margin-inline: 0;
    }
    .footer-address {
      grid-column: 1;
      grid-row: 2;
    }
    .footer-cta {
      grid-column: 2;
      grid-row: 1 / 3;
    }
    .footer-audience {
      grid-column: 3;
      grid-row: 1 / 3;
    }
    .footer-resources {
      grid-column: 4;
      grid-row: 1 / 3;
    }
    .social-media {
      grid-column: 5;
      grid-row: 1 / 3;
    }
    .footer-copyright {
      grid-column: 1 / -1;
      grid-row: 3;
      text-align: center;
      margin: 0 auto;
    }
  }
}
