/*

    Accordion/FAQ section

*/
.accordion {
  h3 {
    margin: 0;
  }
}
.accordion-item {
  margin-bottom: 0.25em;
}
.accordion-toggle {
  background: var(--gray-100);
  color: var(--gray-800);
  width: 100%;
  text-align: left;
  padding: 0.75em;
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  button {
    color: inherit;
  }
  &[aria-expanded="true"],
  &:hover {
    background: var(--blue-500);
    color: var(--white);
    .accordion-icon {
      background: var(--white);
      &:before,
      &:after {
        background: var(--blue-500);
      }
    }
  }
}

.accordion-toggle[aria-expanded="true"] {
  .accordion-icon {
    transform: rotate(45deg);
    transform-origin: center;
  }
}

.accordion-icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: var(--blue-500);
  border-radius: 50%;
  position: relative;
  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 0.75em;
    height: 2px;
    background: var(--white);
    top: 50%;
    left: calc(50% - 0.375em);
  }
  &:after {
    rotate: 90deg;
  }
}

.accordion > *:first-child .accordion-trigger,
.accordion > *:first-child {
  //   border-radius: 5px 5px 0 0;
}

.accordion > *:last-child .accordion-trigger,
.accordion > *:last-child {
  //   border-radius: 0 0 5px 5px;
}

.accordion button::-moz-focus-inner {
  border: 0;
}

.accordion-trigger:focus .accordion-icon,
.accordion-trigger:hover .accordion-icon {
  //   border-color: hsl(216deg 94% 43%);
}

.accordion-panel {
  background: var(--gray-100);
  padding: 0.75em;
  display: none;
  &.shown {
    display: block;
  }
}
