/*

    Accordion/FAQ section

*/

.accordion-item {
  margin-bottom: 0.25em;
}
.accordion-toggle {
  background: var(--gray-100);
  color: var(--gray-800);
  width: 100%;
  text-align: left;
  padding: 0.75em;
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  button {
    color: inherit;
    text-align: left;
  }
  &[aria-expanded="true"],
  &:hover {
    background: var(--blue-500);
    color: var(--white);
    .accordion-icon {
      background: var(--white);
      &:before,
      &:after {
        background: var(--blue-500);
      }
    }
  }
}

.accordion-toggle[aria-expanded="true"] {
  .accordion-icon {
    transform: rotate(45deg);
    transform-origin: center;
  }
}

.accordion-icon {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  background: var(--blue-500);
  border-radius: 50%;
  position: relative;
  transition: transform 0.125s;
  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 0.75em;
    height: 2px;
    background: var(--white);
    top: 50%;
    left: calc(50% - 0.375em);
  }
  &:after {
    rotate: 90deg;
  }
}

.accordion-panel {
  background: var(--gray-100);
  padding: 0.75em;
  display: none;
  &.shown {
    display: block;
  }
}
