/*
    Flickity.css

    There are two main layouts for carousels
    .carousel-standard - generally flat card type lists
    .carousel-feature - the big boy at the top of the homepage 
      -buttons in the middle, 
      -one big slide at a time
      -fancy page dots / numbers
*/

@use "../_mixins.scss" as *;

/*  Base Flicity container */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  touch-action: pan-y;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.flickity-rtl .flickity-slider {
  left: unset;
  right: 0;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: grabbing;
}

/* ---- flickity-cell ---- */

.flickity-cell {
  position: absolute;
  left: 0;
}

.flickity-rtl .flickity-cell {
  left: unset;
  right: 0;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: var(--red-500);
  border: none;
  color: var(--white);
}

.flickity-button:hover {
  background: var(--red-300);
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--gray-300);
}

.flickity-button:active {
  color: var(--gray-500);
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentcolor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 2rem;
  height: 2rem;
  z-index: 1; /* above viewport */
  border-radius: 50%;
  background: var(--red-500);
  color: var(white);
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: -1rem;
}
.flickity-prev-next-button.next {
  right: -1rem;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  width: 1em;
  height: 1em;
}

/*

  Feature carousel

*/

.carousel-feature {
  grid-column: bleed;
  display: grid;
  row-gap: 1em;
  grid-template-columns: 1fr auto auto auto 1fr;
  grid-template-rows: 1fr auto;
  .flickity-viewport {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  .previous {
    grid-column: 2;
    left: 0;
    top: 0;
  }
  .next {
    grid-column: 4;
    right: 0;
    top: 0;
  }
  .flickity-page-dots {
    grid-column: 3;
  }
  .flickity-prev-next-button {
    transform: none;
  }

  .flickity-button,
  .flickity-page-dots {
    position: relative;
    grid-row: 3;
    @include mq(medium) {
      margin-bottom: calc(1em + 63%);
      grid-row: 2;
    }
  }
  /* ---- page dots ---- */
  .flickity-page-dots {
    position: relative;
    width: 2.6em;
    height: 1em;
    top: 0.5em;
    padding: 0;
    margin: 0;
    display: grid;
    color: var(--black);
    @include mq(medium) {
      color: var(--white);
    }

    font-family: var(--ff-sans-bold);
    grid-template-columns: auto;
    justify-content: flex-start;
    &:before {
      content: "/";
      grid-column: 2;
      grid-row: 1;
      width: max-content;
      position: absolute;
      right: 1.1rem;
    }

    .dot,
    .dot:before,
    .dot:after {
      text-align: center;
      display: inline-block;
      width: 1rem;
      height: 1.1rem;
    }
    .dot {
      counter-increment: carousel-cell;
      margin: 0;
      opacity: 1;
      grid-row: 1;
      grid-column: 1;

      &.is-selected {
        &:before {
          opacity: 1;
        }
      }

      &:before {
        content: counter(carousel-cell);
        text-align: right;
        opacity: 0;
      }

      &:last-child:after {
        content: counter(carousel-cell);
        position: absolute;
        top: 0;
        right: 0;
        text-align: left;
      }
      &::marker {
        display: none;
        color: transparent;
        font-size: 0px;
      }
    }
  }
}
