/*
    Images and masks and other weird background images
    1. basic image styles
    2. figure styles
    3. set mask base properties

    disticnt masks
    1. crest with black fade background
    2. vertical light/trans to dark/opaque

    weird stuff
    1. tiger

*/
@use "../_mixins.scss" as *;
figure {
  display: grid;
  margin-bottom: 1rem; // default can be overwritten with adding m-bottom-x
  border-radius: var(--border-radius-large);
  overflow: hidden;
  img {
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 0px !important; // will NEVER have a margin bottom in a figure
  }
  figcaption {
    grid-row: 1;
    grid-column: 1;
    background: var(--black);
    color: var(--white);
    height: max-content;
    align-self: flex-end;
    padding: 1em;
    font-size: var(--step--2);
    z-index: 1;
  }
}
.crest-overlay {
  position: relative;
  &:after {
    position: absolute;
    inset: 0;
    z-index: 2;
    content: "";
    background-image: url(/images/theme/crest-main-1.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  img {
    margin: 0 !important; // will NEVER have a margin in an overlay
  }
}
.crest-overlay-with-fade {
  position: relative;
  &:after {
    position: absolute;
    inset: 0;
    z-index: 2;
    content: "";
    background-image: url(/images/theme/crest-main-1.svg),
      linear-gradient(rgba(0, 0, 0, 0.001) 25%, rgba(0, 0, 0, 0.585));
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom;
    background-size: contain, cover;
  }
  img {
    margin: 0 !important; // will NEVER have a margin in an overlay
  }
}
.crest-transparent {
  &:after {
    opacity: 0.6;
  }
}
/* Light to dark fades on medium + */
@include mq(medium) {
  .light-dark-fade {
    position: relative;
    &:after {
      position: absolute;
      inset: 0;
      z-index: 1;
      content: "";
      background-image: linear-gradient(rgb(0, 0, 0) 25% 0%, rgb(0, 0, 0) 50%);
      @include mq(medium) {
        z-index: 2;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.102) 25% 0%,
          rgba(0, 0, 0, 0.71) 70%
        );
      }
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
    }
  }
}

.white-tiger {
  position: relative;
  padding: 2rem 0;
  > * {
    position: relative;
    z-index: 1;
  }
  &:before {
    position: absolute;
    inset: 0;
    content: "";
    background-image: url(/images/theme/white-tiger.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    opacity: 0.6;
  }
}

/*
  target universal styles in page-content
*/
.page-content {
  .crest-overlay-with-fade,
  img {
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    margin-bottom: 1.5rem;
  }
}

/*
  Circle image style
*/
.circle-image {
  aspect-ratio: 1 / 1;
  border-radius: 50% !important; // a circle image will always have a 50% radius
}
