/*
    Images and masks
    1. basic image styles
    2. set mask base properties

    disticnt masks
    1. crest bottom

*/
@use "../_mixins.scss" as *;
.crest-overlay {
  position: relative;
  &:after {
    position: absolute;
    inset: 0;
    z-index: 2;
    content: "";
    background-image: url(/images/theme/crest-main-1.svg),
      linear-gradient(rgba(0, 0, 0, 0.001) 25%, rgba(0, 0, 0, 0.585));
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom;
    background-size: contain, cover;
  }
  &.crest-transparent {
    &:after {
      opacity: 0.6;
    }
  }
}

.light-dark-fade {
  position: relative;
  &:after {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: "";
    background-image: linear-gradient(rgb(0, 0, 0) 25% 0%, rgb(0, 0, 0) 50%);
    @include mq(medium) {
      z-index: 2;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.102) 25% 0%,
        rgba(0, 0, 0, 0.71) 70%
      );
    }
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}

.white-tiger {
  position: relative;
  padding: 2rem 0;
  > * {
    position: relative;
    z-index: 1;
  }
  &:before {
    position: absolute;
    inset: 0;
    content: "";
    background-image: url(/images/theme/white-tiger.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    opacity: 0.6;
  }
}
