/*

Links-buttons
1. Basic link styles
2. link button styles
    a. primary - red with white text
    b. secondary - white with red text
    c. tertiary - gray with red text

3. Social media icon links

    
*/

//base button

.button {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  padding: 0.5em;
  border-radius: 4px;
  padding: 0.8em 1em;
  font-size: var(--step--2);
  font-family: var(--ff-sans-bold);
  text-transform: uppercase;
}

// color variations

.button--primary {
  background: var(--red-500);
  color: var(--white);
}
.button--secondary {
  background: var(--white);
  color: var(--red-500);
}
.button--tertiary {
  background: var(--gray-300);
  color: var(--red-500);
}
.button--dark {
  background: var(--gray-900);
  color: var(--gray-100);
}

// with icon
.withIcon {
}

.social-media {
  svg {
    fill: var(--gray-300);
    width: 1.5em;
    height: 1.5em;
  }
}
