/*
    1. Main definitions for lists in content blocks
    2. Overwrites for texts in items like navs
*/

ul,
ol {
  padding-inline-start: 1em;
  margin-block-start: 0;
  margin-block-end: 1em;
  li {
    margin-block-end: 0.4em;
  }
  ul,
  ol {
    margin-block-end: 0;
    margin-block-start: 0.4em;
  }
  ol {
    list-style-type: lower-alpha;
  }
}

/*

  list utility classes

*/
.flat {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.centered-list {
  justify-content: center;
}

// for lists of buttons
.buttons {
  margin-bottom: 0;
  li:last-of-type {
    margin-bottom: 0;
  }
  a {
    width: 100%;
  }
}
