/*
    1. Main definitions for lists in content blocks
    2. Overwrites for texts in items like navs
    3. flat list == just an inline list usually the buttons
    4. A plain list with no markers
    5. .buttons - give some better spacing around a list of buttons
*/
@use "../_mixins.scss" as *;
ul,
ol {
  padding-inline-start: 1em;
  margin-block-start: 0;
  margin-block-end: 1em;
  li {
    margin-block-end: 0.4em;
  }
  ul,
  ol {
    margin-block-end: 0;
    margin-block-start: 0.4em;
  }
  ol {
    list-style-type: lower-alpha;
  }
}

/*

  list utility classes

*/
.flat {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  @include mq(medium) {
    gap: 1em;
  }
}
.stacked {
  display: flex;
  flex-direction: column;
}
.centered-list {
  justify-content: center;
}
.plain {
  list-style-type: none;
  padding: 0;
}

// for lists of buttons
.buttons {
  margin-bottom: 0;
  li:last-of-type {
    margin-bottom: 0;
  }
  a {
    width: 100%;
  }
}
