/*
    Program cards - specific for bigger cards.
*/
.programCard {
  img {
    border-radius: var(--border-radius-large);
    margin-bottom: 1.25rem;
  }
  h3 {
    margin-bottom: 0.25em;
    color: var(--red-500);
  }
}
