/*
The base stylesheet for all site text styles
- Set base families with @font-face. Self host Roboto and DM Serif
    - 
- Set base sizes
    16, 20, 24, 28, 30, 36, 42, 60
- Set base colors
- Reset headings
*/
@use "../_mixins.scss" as *;
// Roboto Regular
@font-face {
  font-display: swap;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2");
}

// Roboto Light
@font-face {
  font-display: swap;
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Roboto-Light.woff2") format("woff2");
}

//Roboto Bold
@font-face {
  font-display: swap;
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Roboto-Bold.woff2") format("woff2");
}

//DM Serif regular
@font-face {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/DMSerifDisplay-Regular.woff2");
}

/* 

    Create and add font size custom properties to :root 
    
*/

:root {
  --ff-sans-light: Roboto Light;
  --ff-sans: Roboto Regular;
  --ff-sans-bold: Roboto Bold;

  --ff-serif: DM Serif Display;

  --step--3: 0.5rem;
  --step--2: 0.75rem;
  --step--1: 0.9rem;
  --step-0: 1rem;
  --step-1: 1.25rem;
  --step-2: 1.5rem;
  --step-3: 1.8rem;
  --step-4: 2rem;
  --step-5: 2.6rem;
  --step-6: 4rem;
  @include mq(medium) {
    --step--3: clamp(0.4rem, 0.5rem + 0.0326vi, 0.6rem);
    --step--2: clamp(0.6rem, 0.65rem + 0.0326vi, 0.7rem);
    --step--1: clamp(0.9375rem, 0.8158rem + 0.1087vi, 0.85rem);
    --step-0: 1rem;
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
    --step-4: clamp(2rem, 2.0827rem + 1.2504vi, 3.0518rem);
    --step-5: clamp(2rem, 2.4462rem + 1.7658vi, 3.8147rem);
    --step-6: clamp(1.5rem, 2.8691rem + 2.4507vi, 4.2684rem);
  }
}

.fs--3 {
  font-size: var(--step--3);
}
.fs--2 {
  font-size: var(--step--2);
}
.fs--1 {
  font-size: var(--step--1);
}
.fs-0 {
  font-size: var(--step-0);
}
.fs-1 {
  font-size: var(--step-1);
}
.fs-2 {
  font-size: var(--step-2);
}
.fs-3 {
  font-size: var(--step-3);
}
.fs-4 {
  font-size: var(--step-4);
}
.fs-5 {
  font-size: var(--step-5);
  line-height: 1;
}
.fs-6 {
  font-size: var(--step-6);
  line-height: 1;
}

/*
    Font-weight utility classes
*/

.fw-light {
  font-weight: 100;
}
.fw-regular {
  font-weight: 400;
}
.fw-bold {
  font-weight: 800;
}
.fw-black {
  font-weight: 900;
}

// change font familes for light and bold.

.ff-sans:is(.fw-light) {
  font-family: var(--ff-sans-light);
}
.ff-sans:is(.fw-bold, .fw-black) {
  font-family: var(--ff-sans-bold);
}

/*
    Set HTML level styles
*/

html {
  font-size: var(--step-1);
  font-family: var(--ff-sans-light);
  color: var(--gray-800);
}

/*
    Paragraphs
*/

p {
  line-height: 1.4;
  margin: 0;
  margin-block-end: 1em;
}

/*
    Headings
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin: 0 0 0.5em 0;
}

/*
    Font-weights
*/

/*
    Font-family
*/

.ff-sans {
  font-family: var(--ff-sans);
}
.ff-serif {
  font-family: var(--ff-serif);
}

/*
  basic links
*/
a {
  color: var(--blue-500);
}

/*
  Font decorations
*/
.text-shadow {
  text-shadow: var(--text-shadow);
}
strong {
  font-family: var(--ff-sans-bold);
}
em {
  font-style: italic;
}
.caps {
  text-transform: uppercase;
}
