---

---
<div class="full-width mainNavWrapper" >
    <nav class="mainNav" id="mainNav">
        <section class="academics">
            <p class="header">
                Academics
            </p>
            <ul>
                <li><a href="#">Majors & Minors</a></li>
                <li><a href="#">Academic Opportunities</a></li>
                <li><a href="#">Rhetoric Program</a></li>
                <li><a href="#">Student Research</a></li>
                <li><a href="#">Global Education</a></li>
                <li><a href="#">Career Center</a></li>
                <li><a href="#">Academic Services</a></li>
            </ul>
        </section>
        <section class="admission-aid">
            <p class="header">Admission & Financial Aid</p>
            <ul>
                <li><a href="#">Apply</a></li>
                <li><a href="#">Request Information</a></li>
                <li><a href="#">Schedule Visit</a></li>
                <li><a href="#">Financial Aid</a></li>
                <li><a href="#">Accepted Students</a></li>
                <li><a href="#">Tuition & Fees</a></li>
            </ul>
        </section>
        <section class="studentLife">
            <p class="header">Student Life</p>
            <ul>
                <li><a href="#">Campus Living</a></li>
                <li><a href="#">Honor & Conduct</a></li>
                <li><a href="#">What to Do</a></li>
                <li><a href="#">Campus Resources</a></li>
                <li><a href="#">Campus Culture</a></li>
                <li><a href="#">Civic Engagement</a></li>
            </ul>
        </section>
        <section class="about">
            <p class="header">About H-SC</p>
            <ul>
                <li><a href="#">Why H-SC</a></li>
                <li><a href="#">Facts & Figures</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Offices & Services</a></li>
                <li><a href="#">Administration</a></li>
                <li><a href="#">Visit H-SC</a></li>
            </ul>
        </section>
        <section class="quickLinks">
            <p class="header">Quick Links</p>
            <ul>
                <li><a href="#">Alumni</a></li>
                <li><a href="#">Current Students</a></li>
                <li><a href="#">Faculty & Staff</a></li>
                <li><a href="#">Parents & Family</a></li>
                <li><a href="#">Atheletics</a></li>
                <li><a href="#">College Events</a></li>
                <li><a href="#">Compass Program</a></li>
            </ul>
        </section>
        <section class="cta">
            <a href="#">Visit</a>
            <a href="#">Apply</a>
            <a href="#">Give</a>
        </section>
        <section class="feature">
            <p class="header">The best alumni network ever</p>
            <p>We’re ranked the #3 alumni network for a reason. When yougraduate from here, you’ll experience why. Time & time again.</p>
            <p> <a href="#">Learn more</a></p>
        </section>
    </nav>
</div>      
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>      
<script>
    (function ($) {

    $("#mainNavToggle").on({
    click: function () {
        $(".mainNavWrapper").toggleClass("expanded");
    },
    });
    })(jQuery);
</script>