---
//ui
import Link from "@ui/Link.astro";

//astro
import { Image } from "astro:assets";

// images
import HSCLarge from "../../assets/hsc-logo-large.png";

---
<section class="full-width gray-bg">
    <div class="text-links simple grid three-one">
        <p><Image src={HSCLarge} width={800} alt=""></Image></p>
		<ul class="buttons">
			<li><Link style="primary" href="/text"  classes="button button--primary" text="Apply to H-SC" icon={{name:"arrow-right", side:"right"}}></Link></li>
			<li><Link style="primary" href="/text"  classes="button button--primary" text="Schedule a visit" icon={{name:"arrow-right", side:"right"}}></Link></li>
			<li><Link style="primary" href="/text"  classes="button button--primary" text="Contact us" icon={{name:"arrow-right", side:"right"}}></Link></li>
		</ul>
    </div>
</section>

