---
// layout
import LandingPageWrapper from "../layouts/LandingPageWrapper.astro";

// components
import CrestFeature1 from "../components/carousels/CrestFeature1.astro";
import SimpleForm from "@/components/forms/SimpleForm.astro";
import ProgramCardWrapper from "@/components/programs/ProgramCardWrapper.astro";

//ui items
import Heading from "@/components/ui/Heading.astro";

import TextLinkGray from "@/components/page-block/TextLinkGray.astro";

import QuoteBlock from "@/components/quotes/QuoteBlock.astro";
import StatWrapper from "@/components/stats/StatWrapper.astro";
import ImageGrid from "@/components/image-grid/ImageGrid.astro";
import FeatureBlock from "@/components/page-block/FeatureBlock.astro";
import ArticleCardCarousel from "@/components/article/ArticleCardCarousel.astro";
import EventCardCarousel from "@/components/event/EventCardCarousel.astro";
import FeatureBlockAlumni from "@/components/page-block/FeatureBlockAlumni.astro";
import SimpleBlockCentered from "@/components/page-block/SimpleBlockCentered.astro";
import TextImageFullBleed from "@/components/page-block/TextImageFullBleed.astro";
//images
---

<LandingPageWrapper>
  <CrestFeature1 />
  <SimpleForm
    id="search-majors"
    label="What would you like to study?"
    formClasses="with-lines"
    sidelines="true"
  />

  <Heading tagName="h3" size="base6" family="serif" class="align-center"
    >Scholarly Pursuits</Heading
  >
  <ProgramCardWrapper />
  <TextLinkGray />

  <TextImageFullBleed />
  <QuoteBlock />
  <StatWrapper />
  <ImageGrid />
  <FeatureBlock />
  <ArticleCardCarousel />
  <EventCardCarousel />
  <FeatureBlockAlumni />
  <SimpleBlockCentered />
  <p>Add class="full-width" to the "video-container" and iframe</p>
  <div class="video-container full-width">
    <iframe
      src="https://www.youtube.com/embed/6qf6yWe1HHo?si=P6bPhEkEISRvOH8c"
      title="Welcome to Hampden Sydney"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      class="full-width"
      allowfullscreen></iframe>
  </div>
</LandingPageWrapper>
