---
import Heading from "@/components/ui/Heading.astro";
import MainPageWrapper from "@/layouts/MainPageWrapper.astro";
import { Image } from "astro:assets";

//images
import PlayingPool from "../assets/playing-pool.jpg";
import InContentFeatureBlock from "@/components/page-block/InContentFeatureBlock.astro";
---

<MainPageWrapper>
  <div class="basic-page-layout">
    <div class="title">
      <Heading tagName="h1" size="base5" family="serif">Honors Program</Heading>
    </div>
    <div class="breadcrumbs">
      <p>
        <span class="caps"><strong>You are here:</strong> </span><a href=""
          >Academics</a
        > > <a href=""> Programs & Centers</a> > <a href="">Honors Program</a>
      </p>
    </div>
    <nav class="sidebar-nav">
      <ul class="l-1">
        <li class="has-sub">
          <a href="">Academics</a>
          <button class="subnav-toggle">
            <svg>
              <use href="#caret"></use>
            </svg>
          </button>
          <ul class="l-2">
            <li><a href="">Majors & Minors</a></li>
            <li><a href="">Academcics</a></li>
            <li class="has-sub">
              <a href="">Programs and Centers</a>
              <button class="subnav-toggle">
                <svg>
                  <use href="#caret"></use>
                </svg>
              </button>
              <ul class="l-3">
                <li>
                  <a href="">Center for the Study of Political Economy</a>
                </li>
                <li><a href="">Center for Public History</a></li>
                <li><a href="">Cooperative Programs</a></li>
                <li><a href="">Flemming Center for Entrepreneurship</a></li>
                <li><a href="" class="selected">Honors Program</a></li>
                <li><a href="">Global Education & Study Abroad</a></li>
                <li><a href="">Compass Program</a></li>
                <li><a href="">Student Research</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="has-sub">
          <a href="">Admissions and Finanical Aid</a>
          <button class="subnav-toggle">
            <svg>
              <use href="#caret"></use>
            </svg>
          </button>
          <ul class="l-2">
            <li><a href="">some text link</a></li>
            <li><a href="">some text link</a></li>
            <li><a href="">some text link</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <a href="">Student Life</a>
          <button class="subnav-toggle">
            <svg>
              <use href="#caret"></use>
            </svg>
          </button>
          <ul class="l-2">
            <li><a href="">some text link</a></li>
            <li><a href="">some text link</a></li>
            <li><a href="">some text link</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="page-content">
      <div class="crest-overlay-with-fade crest-transparent">
        <Image src={PlayingPool} width={1200} alt="" class="crest-overlay" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eos,
        quisquam non excepturi exercitationem, nesciunt iure eligendi nisi
        ducimus sint est nostrum mollitia tenetur ipsam veniam consequatur
        voluptatum ad quidem tempora illo sit saepe. Reprehenderit sunt quisquam
        delectus sint? Totam laborum minus debitis dolor culpa ea reiciendis
        repellendus sunt esse.
      </p>
      <InContentFeatureBlock
        classes="red content-feature with-logo m-bottom-2"
      />
      <InContentFeatureBlock
        classes="black content-feature with-logo m-bottom-2"
      />
      <InContentFeatureBlock
        classes="red content-feature with-logo m-bottom-2"
      />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, maxime
        velit? Nobis deleniti accusantium modi pariatur nesciunt, recusandae
        exercitationem commodi possimus obcaecati beatae similique magni rem
        quos vero voluptatum quisquam saepe fuga quia quidem repellendus ipsa
        incidunt id! Modi non nobis illum, optio amet quia odit animi quae
        voluptates sit!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, maxime
        velit? Nobis deleniti accusantium modi pariatur nesciunt, recusandae
        exercitationem commodi possimus obcaecati beatae similique magni rem
        quos vero voluptatum quisquam saepe fuga quia quidem repellendus ipsa
        incidunt id! Modi non nobis illum, optio amet quia odit animi quae
        voluptates sit!
      </p>
      <figure class="m-bottom-3">
        <Image src={PlayingPool} width={1200} alt="" class="crest-overlay" />
        <figcaption>
          Honors students gain unique access to accelerated learning
          environments to engage in advanced research in their chosen field.
        </figcaption>
      </figure>
      <div class="full-width-breakout red m-bottom-2">
        <div>
          <figure class="m-bottom-0">
            <Image
              src={PlayingPool}
              width={1200}
              alt=""
              class="crest-overlay"
            />
            <figcaption>
              Honors students gain unique access to accelerated learning
              environments to engage in advanced research in their chosen field.
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="full-width-breakout gray m-bottom-2">
        <div>
          <figure class="m-bottom-0">
            <Image
              src={PlayingPool}
              width={1200}
              alt=""
              class="crest-overlay"
            />
            <figcaption>
              Honors students gain unique access to accelerated learning
              environments to engage in advanced research in their chosen field.
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</MainPageWrapper>

<script is:inline>
  (function ($) {
    // Add aria-haspopup true to links with popups
    $(".nav--main-opener").prev().attr("aria-haspopup", "true");

    $(".subNav a").attr("tabindex", -1);

    // if a menu-button is clicked...
    $(".subnav-toggle").click(function (e) {
      // the button
      var _this = $(this);
      // the LI
      var parent = $(_this.parent());
      // the preceding <a>
      var linkContent = $(_this.prev());
      // rotate the button
      $(this).toggleClass("rotated");
      // the child list
      var next = $(_this.next());

      // console.log(linkContent);

      if (!next.hasClass("expanded")) {
        $(next).addClass("expanded");
        $(parent).addClass("expanded");

        _this.next().find("a").removeAttr("tabindex", -1);

        // remove sub-expaneded
      } else {
        $(next).removeClass("expanded");
        $(parent).removeClass("expanded");
        _this.next().find("a").attr("tabindex", -1);
      }
    });
  })(jQuery);
</script>
