---
import Heading from "@/components/ui/Heading.astro";
import MainPageWrapper from "@/layouts/MainPageWrapper.astro";
---

<MainPageWrapper>
  <main class="basic-page-layout">
    <div class="title">
      <Heading tagName="h1" size="base5" family="serif">Honors Program</Heading>
    </div>
    <div class="breadcrumbs">
      <p>
        <span class="caps"><strong>You are here:</strong> </span><a href=""
          >Academics</a
        > > <a href=""> Programs & Centers</a> > <a href="">Honors Program</a>
      </p>
    </div>
    <nav>
      <ul>
        <li>
          <a href="">Academics</a>
          <ul>
            <li><a href="">Majors & Minors</a></li>
            <li><a href="">Academcics</a></li>
            <li>
              <a href="">Programs and Centers</a>
              <ul>
                <li>
                  <a href="">Center for the Study of Political Economy</a>
                </li>
                <li><a href="">Center for Public History</a></li>
                <li><a href="">Cooperative Programs</a></li>
                <li><a href="">Flemming Center for Entrepreneurship</a></li>
                <li><a href="" class="selected">Honors Program</a></li>
                <li><a href="">Global Education & Study Abroad</a></li>
                <li><a href="">Compass Program</a></li>
                <li><a href="">Student Research</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="page-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eos,
        quisquam non excepturi exercitationem, nesciunt iure eligendi nisi
        ducimus sint est nostrum mollitia tenetur ipsam veniam consequatur
        voluptatum ad quidem tempora illo sit saepe. Reprehenderit sunt quisquam
        delectus sint? Totam laborum minus debitis dolor culpa ea reiciendis
        repellendus sunt esse.
      </p>
    </div>
  </main>
</MainPageWrapper>
