---
import Heading from "@/components/ui/Heading.astro";
import MainPageWrapper from "@/layouts/MainPageWrapper.astro";
import { Image } from "astro:assets";
//ui
import Link from "@ui/Link.astro";

//images
import PlayingPool from "../assets/playing-pool.jpg";
import InContentFeatureBlock from "@/components/page-block/InContentFeatureBlock.astro";
import SidebarNav from "@/components/navigations/SidebarNav.astro";
---

<MainPageWrapper>
  <div class="basic-page-otp-layout">
    <div class="title">
      <Heading tagName="h1" size="base5" family="serif"
        >Honors Program - with OTP nav</Heading
      >
    </div>
    <div class="breadcrumbs">
      <p>
        <span class="caps"><strong>You are here:</strong> </span><a href=""
          >Academics</a
        > > <a href=""> Programs & Centers</a> > <a href="">Honors Program</a>
      </p>
    </div>
    <SidebarNav />
    <div class="page-content">
      <div class="crest-overlay-with-fade crest-transparent">
        <Image src={PlayingPool} width={1200} alt="" class="crest-overlay" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eos,
        quisquam non excepturi exercitationem, nesciunt iure eligendi nisi
        ducimus sint est nostrum mollitia tenetur ipsam veniam consequatur
        voluptatum ad quidem tempora illo sit saepe. Reprehenderit sunt quisquam
        delectus sint? Totam laborum minus debitis dolor culpa ea reiciendis
        repellendus sunt esse.
      </p>
      <Heading tagName="h2" size="base4" family="serif" id="application">
        Application
      </Heading>
      <InContentFeatureBlock
        classes="red content-feature with-logo m-bottom-2"
      />
      <InContentFeatureBlock
        classes="black content-feature with-logo m-bottom-2"
      />
      <InContentFeatureBlock
        classes="red content-feature with-logo m-bottom-2"
      />
      <Heading tagName="h2" size="base4" family="serif" id="benefits">
        Benefits
      </Heading>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, maxime
        velit? Nobis deleniti accusantium modi pariatur nesciunt, recusandae
        exercitationem commodi possimus obcaecati beatae similique magni rem
        quos vero voluptatum quisquam saepe fuga quia quidem repellendus ipsa
        incidunt id! Modi non nobis illum, optio amet quia odit animi quae
        voluptates sit!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, maxime
        velit? Nobis deleniti accusantium modi pariatur nesciunt, recusandae
        exercitationem commodi possimus obcaecati beatae similique magni rem
        quos vero voluptatum quisquam saepe fuga quia quidem repellendus ipsa
        incidunt id! Modi non nobis illum, optio amet quia odit animi quae
        voluptates sit!
      </p>
      <figure class="m-bottom-3">
        <Image src={PlayingPool} width={1200} alt="" class="crest-overlay" />
        <figcaption>
          Honors students gain unique access to accelerated learning
          environments to engage in advanced research in their chosen field.
        </figcaption>
      </figure>
      <Heading tagName="h2" size="base4" family="serif" id="requirements">
        Requirements
      </Heading>
      <div class="full-width-breakout red m-bottom-2">
        <div>
          <figure class="m-bottom-0">
            <Image
              src={PlayingPool}
              width={1200}
              alt=""
              class="crest-overlay"
            />
            <figcaption>
              Honors students gain unique access to accelerated learning
              environments to engage in advanced research in their chosen field.
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="full-width-breakout gray m-bottom-2">
        <div>
          <figure class="m-bottom-0">
            <Image
              src={PlayingPool}
              width={1200}
              alt=""
              class="crest-overlay"
            />
            <figcaption>
              Honors students gain unique access to accelerated learning
              environments to engage in advanced research in their chosen field.
            </figcaption>
          </figure>
        </div>
      </div>
      <Heading tagName="h2" size="base4" family="serif" id="courses">
        Capstone Project Courses
      </Heading>
      <ul class="buttons flat m-bottom-2">
        <li>
          <Link
            style="primary"
            href="/text"
            classes="button button--primary"
            text="Apply to H-SC"
            icon={{ name: "arrow-right", side: "right" }}
          />
        </li>
        <li>
          <Link
            style="primary"
            href="/text"
            classes="button button--primary"
            text="Schedule a visit"
            icon={{ name: "arrow-right", side: "right" }}
          />
        </li>
        <li>
          <Link
            style="primary"
            href="/text"
            classes="button button--primary"
            text="Contact us"
            icon={{ name: "arrow-right", side: "right" }}
          />
        </li>
      </ul>
      <Heading tagName="h2" size="base4" family="serif">
        Capstone Project
      </Heading>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut harum
        earum dolores alias ullam neque soluta reprehenderit nisi, sit veniam
        modi error quod maiores perspiciatis fugit nam in assumenda, suscipit
        dolore? Sed quidem quisquam iure doloremque modi nulla cum. Nulla fuga
        voluptas vero accusantium hic suscipit placeat provident! Eveniet, sint
        rerum unde vel amet exercitationem ab provident nemo similique debitis
        dolores accusamus necessitatibus earum quia, reprehenderit error
        consequatur architecto et tempore, suscipit ipsam quae fugiat.
      </p>
    </div>
    <aside>
      <div class="otp-nav">
        <p><strong class="caps">On this page:</strong></p>
        <ul>
          <li><a href="#application">Application</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#requirements">Requirements</a></li>
          <li><a href="#courses">Courses</a></li>
        </ul>
      </div>
    </aside>
  </div>
</MainPageWrapper>

<script is:inline>
  (function ($) {
    // Add aria-haspopup true to links with popups
    $(".nav--main-opener").prev().attr("aria-haspopup", "true");

    $(".subNav a").attr("tabindex", -1);

    // if a menu-button is clicked...
    $(".subnav-toggle").click(function (e) {
      // the button
      var _this = $(this);
      // the LI
      var parent = $(_this.parent());
      // the preceding <a>
      var linkContent = $(_this.prev());
      // rotate the button
      $(this).toggleClass("rotated");
      // the child list
      var next = $(_this.next());

      // console.log(linkContent);

      if (!next.hasClass("expanded")) {
        $(next).addClass("expanded");
        $(parent).addClass("expanded");

        _this.next().find("a").removeAttr("tabindex", -1);

        // remove sub-expaneded
      } else {
        $(next).removeClass("expanded");
        $(parent).removeClass("expanded");
        _this.next().find("a").attr("tabindex", -1);
      }
    });
  })(jQuery);
</script>
