---
import MainWrapper from "@/layouts/MainWrapper.astro";

// components
import CrestFeature1 from "../components/carousels/CrestFeature1.astro";
import Heading from "@/components/ui/Heading.astro";
---

<MainWrapper title="Text examples">
	<Heading size="base4" tagName="h1" weight="bold" family="serif">Text examples</Heading>

	<Heading size="base3" tagName="h2" weight="bold" >Headings and paragraphs</Heading>
	<Heading size="base4" tagName="h2" weight="bold" family="serif">Forming good men and good citizens since 1775</Heading>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptatibus rem neque, delectus velit ex ipsum amet at pariatur laboriosam iure blanditiis aspernatur.</p>
	<Heading size="base3" tagName="h3" weight="bold">Text examples for HSC</Heading>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptatibus rem neque, delectus velit ex ipsum amet at pariatur laboriosam iure blanditiis aspernatur.</p>
	<Heading size="base2" tagName="h4">Text examples for HSC</Heading>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptatibus rem neque, delectus velit ex ipsum amet at pariatur laboriosam iure blanditiis aspernatur.</p>
	<Heading size="base1" tagName="h5" weight="bold">Text examples for HSC</Heading>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptatibus rem neque, delectus velit ex ipsum amet at pariatur laboriosam iure blanditiis aspernatur.</p>
	<Heading size="base4" tagName="h2" weight="bold" >Unorderd and ordered lists</Heading>
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex enim nemo ullam? Quasi est deserunt nemo quaerat odio deleniti dolores, saepe velit sint! Ut sed ab perspiciatis accusantium eos reiciendis.</li>
		<li>Lorem ipsum dolor sit amet.<ul>
			<li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
			<li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
			<li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
		</ul></li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
	</ul>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, doloribus. Pariatur facere sed, totam ut ea beatae quae dolorem ratione.</p>
	<ol>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li>Lorem ipsum dolor sit amet.<ol>
			<li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
			<li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
			<li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
		</ol></li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
	</ol>
</MainWrapper>