---
import MainWrapper from "@/layouts/LandingPageWrapper.astro";

// components
import CrestFeature1 from "../components/carousels/CrestFeature1.astro";
import Heading from "@/components/ui/Heading.astro";
---

<MainWrapper title="Text examples">
  <Heading size="base6" tagName="h1" weight="regular" family="serif"
    >Honors Program</Heading
  >
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus non
    eaque, officia similique quo odit animi cum rem placeat vel sunt dolorum,
    magni deleniti incidunt eos ad unde. Cumque, possimus.
  </p>
  <Heading tagName="h2" size="base2" family="serif"
    >For over 50 years the Honors Program has given men of talent the
    opportunity to pursue an education in an environment tailored to the way men
    learn best.</Heading
  >
  <p>
    The Honors Program is meant for the student who gives evidence of
    intellectual curiosity, independence of thought, excitement in learning,
    appreciation of knowledge—for the young man who sparks the enthusiasm of
    fellow students and challenges the best in his teachers. With its small
    classes and excellent faculty, Hampden-Sydney provides a first- rate
    learning environment for such active, engaged students. The program is
    designed to provide the strongest academic students at the College with
    opportunities for enriched classroom experiences and independent research
    pursuits; to enhance students’ liberal arts education by providing
    interdisciplinary experiences; and to create and sustain a community of
    like- minded young scholars.
  </p>
  <Heading size="base3" tagName="h2" weight="bold"
    >Headings and paragraphs</Heading
  >
  <Heading size="base4" tagName="h2" weight="bold" family="serif"
    >Forming good men and good citizens since 1775</Heading
  >
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
    voluptatibus rem neque, delectus velit ex ipsum amet at pariatur laboriosam
    iure blanditiis aspernatur.
  </p>
  <Heading size="base3" tagName="h3" weight="bold"
    >Text examples for HSC</Heading
  >
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
    voluptatibus rem neque, delectus velit ex ipsum amet at pariatur laboriosam
    iure blanditiis aspernatur.
  </p>
  <Heading size="base2" tagName="h4">Text examples for HSC</Heading>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
    voluptatibus rem neque, delectus velit ex ipsum amet at pariatur laboriosam
    iure blanditiis aspernatur.
  </p>
  <Heading size="base1" tagName="h5" weight="bold"
    >Text examples for HSC</Heading
  >
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
    voluptatibus rem neque, delectus velit ex ipsum amet at pariatur laboriosam
    iure blanditiis aspernatur.
  </p>
  <Heading size="base4" tagName="h2" weight="bold"
    >Unorderd and ordered lists</Heading
  >
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex enim nemo
      ullam? Quasi est deserunt nemo quaerat odio deleniti dolores, saepe velit
      sint! Ut sed ab perspiciatis accusantium eos reiciendis.
    </li>
    <li>
      Lorem ipsum dolor sit amet.<ul>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
      </ul>
    </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, doloribus.
    Pariatur facere sed, totam ut ea beatae quae dolorem ratione.
  </p>
  <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>
      Lorem ipsum dolor sit amet.<ol>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
      </ol>
    </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  </ol>
  <Heading tagName="h2" size="base2" weight="bold">Some other things</Heading>
  <p>
    Students applying to H-SC with a <strong>3.8+ weighted GPA</strong> are invited
    to apply to the College’s Honors Program.
  </p>
  <p><span class="caps">To apply, complete the following two steps:</span></p>
  <ul>
    <li>Complete your application to Hampden-Sydney College.</li>
    <li>
      Complete the Honors Program application, and write a short essay in
      response to one of three prompts on the application.
    </li>
  </ul>
</MainWrapper>
