/*

    breadcrumbs.scss

*/
.breadcrumbs {
  font-size: var(--step--2);
  background: var(--gray-100);
  border-radius: var(--border-radius-medium);
  color: var(--gray-800);
  margin-bottom: 2rem;
  p {
    margin: 0.5em;
  }
  a {
    color: var(--gray-800);
  }
}
