/*
    _main-menu.scss
    All the things
    1. Main menu trigger
*/
@use "../_mixins.scss" as *;
// menuTrigger
.menuTrigger {
  height: 2em;
  width: 2em;
  background: var(--blue-500);
  border-radius: 1rem;
  text-indent: -10000px;
  position: relative;
  z-index: 1000;
  font-size: var(--step--2);
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 1em;
    background: var(--white);
    border-radius: 4px;
    opacity: 1;
    left: 25%;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  span:nth-child(2) {
    top: 0.5em;
  }
  span:nth-child(3),
  span:nth-child(4) {
    top: calc(1em - 2px);
  }
  span:nth-child(5) {
    top: calc(1.5em - 4px);
  }
  &.close {
    span:nth-child(2),
    span:nth-child(5) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    span:nth-child(3) {
      transform: rotate(45deg);
    }
    span:nth-child(4) {
      transform: rotate(-45deg);
    }
  }
}

// main flyout nav
.mainNavWrapper {
  background: var(--black);
  color: var(--gray-100);
  font-size: var(--step--2);
  @include mq(medium) {
    font-size: var(--step--1);
    position: fixed;
  }
  transition: all 0.2s ease-out;
  width: 100%;
  height: 0;
  z-index: 9;
  &.expanded {
    height: 100%;
    opacity: 1;
  }
}
// mainNav basics
.mainNav {
  display: grid;
  gap: 2em;
  margin-bottom: 3rem;
  height: max-content;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column: bleed !important; // universal overwrite
  @include mq(large) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  section {
    padding-left: 1em;
  }
  .academics {
    border-left: 4px solid var(--red-300);
  }
  .admission-aid {
    border-left: 4px solid var(--blue-500);
  }
  .studentLife {
    border-left: 4px solid var(--gold-500);
  }
  .quickLinks {
    background: var(--gray-900);
    border-radius: 8px;
    padding: 1em;
  }
  .about {
    border-left: 4px solid var(--gray-100);
  }

  .feature {
    border: 2px solid var(--red-300);
    padding: 1em;
    border-radius: 8px;
    p:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: var(--gray-100);
    font-family: var(--ff-sans-light);
    text-decoration-color: var(--gray-800);
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header {
    color: var(--white);
    font-family: var(--ff-serif);
    font-size: 1.2em;
    margin-bottom: 0.5em;
    line-height: 1;
  }
}
// mainNav when expanded
.mainNavWrapper.expanded .mainNav {
}
