---
// stat wrapper
import statCardData from "../../data/stats.json";
import Stat from "./Stat.astro";

export type statCard = {
  stat: string;
  text: string;
};
---

<!-- 
    - full-width gray sectin
    - stat-wrapper gets a special grid definition because it has weird spacing.
    - the stats are prettty straight forward
-->
<section class="full-width gray-bg">
  <div class="stat-wrapper">
    {statCardData.map((statCard: statCard) => <Stat {...statCard} />)}
  </div>
</section>
