---
const { title, description } = Astro.props;

// style import
import "../styles/sass/style.scss";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
  ></script>
</head>
<span class="offscreen" aria-hidden="true">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <symbol viewBox="0 0 52 32" id="caret" xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M24.03 30.704L1.473 7.93a2.832 2.832 0 010-3.977l2.63-2.656a2.767 2.767 0 013.935-.005L26 19.341 43.962 1.29a2.767 2.767 0 013.934.005l2.631 2.656a2.831 2.831 0 010 3.977L27.97 30.704a2.767 2.767 0 01-3.94 0z"
      ></path></symbol
    >
  </svg>
</span>
