---

import Head from "@/layouts/Head.astro";
import SiteFooter from "@/layouts/SiteFooter.astro";
import SiteHeader from "@/layouts/SiteHeader.astro";


---

<html lang="en">
    <Head {...Astro.props}></Head>
    <body>
        <SiteHeader></SiteHeader>
        <main class="primary-layout">
        <slot></slot>
        </main>
        <SiteFooter></SiteFooter>
    </body>
</html>