---

import Head from "@/layouts/Head.astro";
import SiteFooter from "@/layouts/SiteFooter.astro";
import SiteHeader from "@/layouts/SiteHeader.astro";


---

<html lang="en">
    <Head {...Astro.props}></Head>
    <body>
        <div id="skip-to-nav" class="primary-layout full-width skip-nav">
                <a href="">Main nav</a><a href="">Content</a>
        </div>
        <SiteHeader></SiteHeader>
        <main class="primary-layout">
        <slot></slot>
        </main>
        <SiteFooter></SiteFooter>
    </body>
</html>