---

---
<!-- 
    siteHeader.astro
    - CTA/Black bar at top
        - cta links
        - search
    - header 
        - logo
        - main nav
 -->

    <div class="primary-layout">
        <header class="full-width site-header">
            <div >
                <a href="" class="hsc-logo">Hampden Sydney College</a>
                <div>search | 
                    <a href="">visit</a>
                    <a href="">apply</a>
                    <a href="">give</a> 
                    | Burger
            </div> 
          </div>
        </header>
    </div>
