---
import MainNav from "@/components/navigations/MainNav.astro";
---

<!-- 

            - CTA/Black bar at top

            - cta links
                - search
            - header 
                - logo
                - main nav
        -->
<header class="primary-layout siteHeader" id="siteHeader">
  <div id="skip-to-nav" class="skipNav full-width">
    <div class="skipLinks">
      <a href="">Main nav</a><a href="">Content</a>
    </div>
  </div>
  <div class="logoActions">
    <a href="/" class="hsc-logo">
      <img
        src="/images/theme/hsc-logo-two-line.png"
        class="logo logo--small"
        alt="Hampden Sydney College"
      />
      <img
        src="/images/theme/hsc-logo.png"
        class="logo logo--large"
        alt="Hampden Sydney College"
      /><span class="sr-only">Hampden Sydney College</span>
    </a>
    <div class="actions">
      <div class="cta">
        <a href="/page">page</a>
        <a href="/object-library">library</a>
        <a href="/person">person</a>
      </div>
      <span class="divider"></span>
      <a
        href="#"
        id="mainNavToggle"
        class="menuTrigger"
        aria-label="Open main navigation"
        ><span class="sr-only">Menu</span>
        <span></span><span></span><span></span><span></span></a
      >
      <!-- <span></span> -->
      <a
        href="#"
        id="searchToggle"
        class="search-toggle"
        arial-label="show search field"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="22.009"
          height="22.015"
          viewBox="0 0 22.009 22.015"
        >
          <g id="Group_965" data-name="Group 965" class="cls-2">
            <path
              id="Path_3088"
              data-name="Path 3088"
              class="cls-1"
              d="M19.72,17.862l-4.261-4.286a8.659,8.659,0,1,0-1.883,1.858l4.85,4.85a1.277,1.277,0,0,0,.93.392,1.24,1.24,0,0,0,.93-.392,1.313,1.313,0,0,0,0-1.859ZM2.642,8.537a5.9,5.9,0,1,1,5.895,5.92,5.9,5.9,0,0,1-5.895-5.92Z"
              transform="translate(0 0)"></path>
          </g>
        </svg>
        <span class="sr-only">Show search</span>
        <span></span><span></span>
      </a>
    </div>
  </div>
</header>
<MainNav />

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"
></script>

<script>
  /* When the user scrolls down, logo changes to smaller layout, text size is smaller, reverse on scroll back in */
  // @ts-nocheck
  let mm = gsap.matchMedia();

  mm.add("(min-width: 800px)", () => {
    gsap.defaults({ ease: "none", duration: 0.15 });
    gsap
      .timeline({
        scrollTrigger: {
          trigger: ".siteHeader",
          start: "10px -100px",
          end: "bottom top",
          // scrub: true,
          // markers: true,
          toggleActions: "play none reverse none",
        },
      })
      .to(".logo--large", { height: "0px" })
      .to(".logo--small", { height: "auto" })
      .to(".logoActions", { fontSize: "16px" }, 0);
  });
  $(".search-toggle").click(function () {
    $(".site-search").toggleClass("expanded");
    $(this).toggleClass("close");
    return false;
  });
</script>
