---
// fake breadcrumbs
---

<div class="breadcrumbs">
  <p>
    <span class="caps"><strong>You are here:</strong> </span><a href=""
      >Academics</a
    > > <a href=""> Programs & Centers</a> > <a href="">Honors Program</a>
  </p>
</div>
