---
// fake breadcrumbs
---

<div class="breadcrumbs">
  <p>
    <span class="caps"><strong>You are here:</strong> </span><a href="/page"
      >Basic Page</a
    > > <a href="/person"> Person page</a> > <a href="/object-library"
      >Object library</a
    > > <a href="/landing-page-otp">Biology page</a> > <a href="/majors-minors">
      Majors & Minors</a
    >
  </p>
</div>
