---
import Heading from "../ui/Heading.astro";
import SimpleForm from "./SimpleForm.astro";
---

<div class="site-search primary-layout black-bg" id="siteSearch">
  <Heading tagName="h4" size="base1" classes="fc-white">Site Search:</Heading>
  <SimpleForm wrapperClasses="m-block-1" />
</div>
