/*

Styles for articles
    1. articleHero
    2. articleCard
    3. articleFull

*/
@use "../../_mixins.scss" as *;

.article-hero {
  grid-column: full-width;
  @include mq(large) {
    grid-column: bleed;
  }
  margin: 0 auto;
  place-items: center;
  display: grid;
  color: var(--white);
  .text,
  img {
    grid-row: 1;
    grid-column: 1;
  }

  .text {
    z-index: 3;
  }
  img {
    z-index: 1;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    @include mq(small) {
      aspect-ratio: auto;
    }
  }
}
