/*

    article-card
    set up base card.
    Set card width when in a carousel

*/
@use "../../_mixins.scss" as *;

.article-card {
  padding: 0 0.25rem;
  img {
    border-radius: var(--border-radius-large);
  }
  .pub-date {
    font-size: var(--step-1);
    font-family: var(--ff-serif);
    color: var(--red-500);
  }
  a {
    color: var(--black);
  }
}

/*
    Aticle cards in a standard flat carousel
*/
.carousel-standard {
  .article-card {
    width: 50%;
    @include mq(medium) {
      width: 33%;
    }
  }
}
